* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    gap: 20px;
    animation: fadeInAnimation ease 2s;
}

.hdr {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

.hdr p {
    font-size: 18px;
}

.mainContent {
    margin-top: 20px;
    width: 100%;
    padding: 6px;
    row-gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aqua;
}

.taskBuild {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    row-gap: 10px;
    background-color: red;
}

.taskBuild input {
    width: 90%;
    padding: 6px;
    border-radius: 10px;
    border: 1px solid #000;
}

.btn {
    width: 20%;
    padding: 4px;
    background-color: #ddd;
    color: #000;
    border-radius: 10px;
    border: 1px solid #000;
}

.btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.searchHolder {
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 4px;
    gap: 32px;
    background-color: #ddd;
}

.search {
    width: 80%;
    border: none;
    padding: 4px;
    background-color: #ddd;
}

.searchBtn {
    border-radius: 50%;
    padding: 6px;
    border: none;
    cursor: pointer;
    background-color: #ccc;
}

.taskHolder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    row-gap: 30px;
    background-color: gray;
}

.task {
    width: 35%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background-color: #ddd;
}

.task p {
    font-size: 18px;
}

.btns {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.check {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: green;
    color: #000;
}

.check:hover {
    background-color: lawngreen;
    cursor: pointer;
}

.close {
    padding: 8px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: firebrick;
    color: #000;
}

.close:hover {
    background-color: red;
    cursor: pointer;
}