* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 8px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #ddd;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
    margin-top: 10px;
    padding: 10px;
    background-color: green;
}

.createDespeza {
    width: 100%;
    padding: 10px;
}

.despeza {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input {
    width: 100%;
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 6px;
    padding: 4px;
}

.colorSelector {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 80px;
}

.explicacao {
    font-size: 18px;
}

.color {
    width: 10%;
    border: 1px solid #000;
    box-shadow: none;
    border-radius: 6px;
    padding: 4px;
}

.btn {
    width: 30%;
    border-radius: 6px;
    padding: 4px;
    border: 1px solid #000;
    box-shadow: none;
    cursor: pointer;
    background-color: #ccc;
}

.despezas {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
}

.searchBar {
    width: 100%;
    gap: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.searchBar label {
    font-size: 18px;
    color: #000;
}

.searchHolder {
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 4px;
    gap: 32px;
    background-color: #ddd;
}

.search {
    width: 80%;
    border: none;
    padding: 4px;
    background-color: #ddd;
}

.searchBnt {
    border-radius: 50%;
    padding: 6px;
    border: none;
    cursor: pointer;
    background-color: #ccc;
}

.newDespeza {
    width: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    background-color: gray;
}

.newDespeza p {
    font-size: 18px;
    color: #fff;
}

.botoes {
    width: 100%;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.check {
    border-radius: 4px;
    padding: 4px;
    box-shadow: none;
    border: 1px solid #000;
    background-color: #ddd;
}